/* 通用样式 */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: sans-serif;
}

/* 浅色主题 */
.theme-light {
  background-color: #f5f5f5;
  color: #1e1e1e;
}

/* 深色主题 */
.theme-dark {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

/* 春季主题 - 浅粉背景，深灰文字 */
.theme-spring {
  background-color: #ffe6ea; /* 浅粉 */
  color: #4a3f45; /* 深灰偏紫 */
}

/* 夏季主题 - 深绿色背景，米白文字 */
.theme-summer {
  background-color: #143714; /* 深绿 */
  color: #f0f0e8; /* 浅米白 */
}

/* 秋季主题 - 橙棕背景，浅米色文字 */
.theme-autumn {
  background-color: #6d3916; /* 橙棕 */
  color: #fff3e0; /* 浅米色 */
}

/* 冬季主题 - 银色背景，深蓝灰文字 */
.theme-winter {
  background-color: #dcf5ff; /* 银色 */
  color: #2c3e50; /* 深蓝灰 */
}

/* 噩梦主题 */
.theme-nightmare {
  background-color: #000;
  color: #cc0000;
}

/* 右侧切换栏样式 */
.theme-sidebar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #2c2c2c;
  width: 200px;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.theme-sidebar.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}

/* 按钮样式 */
button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s;
  user-select: none;
}

button:hover {
  background-color: #388e3c;
}
